:host {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: var(--card-text);
  min-width: 99.063rem;
  padding: 1.3rem 0 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.menu-reset,
.menu-start,
.score {
  display: inline-block;
  min-width: 7em;
  padding: 0.4em;
  background: none;
  border: none;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.5%;
  text-decoration: none;
  color: var(--card-text);
  cursor: pointer;
}

.menu-reset:hover,
.menu-start:hover {
  background-color: var(--card-background-hover);
  transition: background-color 0.3s ease-in 0.3s;
}

.process {
  display: flex;
  width: 100%;
}

.princess {
  color: #ffffff;
  fill: var(--card-text);
  cursor: pointer;
  width: 10.688rem;
  height: 13.813rem;
  padding: 0;
  background-color: var(--card-background);
}
