<header class="header">
  <div class="process">
    <img class="princess" src="/assets/princess.svg" alt="" />
    <div class="monster-list">
      <img class="monster" src="/assets/monsters/1.svg" alt="" />
      <img class="monster" src="/assets/monsters/2.svg" alt="" />
      <img class="monster" src="/assets/monsters/3.svg" alt="" />
      <img class="monster" src="/assets/monsters/4.svg" alt="" />
      <img class="monster" src="/assets/monsters/5.svg" alt="" />
      <img class="monster" src="/assets/monsters/6.svg" alt="" />
      <img class="monster" src="/assets/monsters/7.svg" alt="" />
      <img class="monster" src="/assets/monsters/8.svg" alt="" />
      <img class="monster" src="/assets/monsters/9.svg" alt="" />
      <img class="monster" src="/assets/monsters/10.svg" alt="" />
    </div>
  </div>
  <nav class="menu">
    <a class="menu-start" [routerLink]="['/']">Меню</a>
    <button class="menu-reset" (click)="onResetGame()">Заново</button>
  </nav>
</header>
