:root {
  --body-background: #554b53;
  --card-background: #b8a8b5;
  --card-background--hover2: #e3cfdf;
  --card-background-cover: rgb(158, 155, 133, 0.26);
  --card-background-cover--hover: rgb(158, 155, 133, 0.05);
  --card-background-hover: #7e6e8d;
  --card-background-end: #9e9b85;
  --card-text: #dde3c5;
}
