<div class="monster-list">
  <div *ngFor="let card of cardsStatus" class="monster">
    <img class="monster__image" [src]="card.image" alt="" />
  </div>
</div>

<div class="prince" *ngIf="lastMatchedPair?.length !== 0; else placeholder">
  <img
    *ngFor="let card of lastMatchedPair"
    class="prince__image"
    [src]="card.image"
    alt=""
  />
</div>

<ng-template #placeholder>
  <div class="prince prince--placeholder">
    <img
      class="prince__image"
      src="assets/question-small.png"
      alt="Placeholder"
    />
  </div>
</ng-template>
