.monster-list {
  padding: 1.41rem 3.92rem;
}

.monster {
  display: inline-flex;
  width: 120px;
  height: 154px;
  padding: 10px;
  background: var(--card-background);
  cursor: pointer;
}

.monster__image {
  width: 100%;
}

.monster + .monster {
  margin-left: 5px;
}
