.monster {
  width: 80px;
  height: 80px;
  padding: 0;
  background: transparent;
  border: 1px solid var(--card-text);
  border-left: 1px solid transparent;
  cursor: pointer;
}

.monster__image {
  width: 80px;
}
