.dialog {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: none;
  pointer-events: none;
  opacity: 0;
  transition: all 0.3s ease;
}

.dialog--open {
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.7);
  pointer-events: auto;
  opacity: 1;
  transition: all 0.3s ease;
}

.dialog-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  width: 0;
  height: 0;
  color: #ffffff;
  background-color: var(--body-background);
  transition: transform 0.3s ease;
}

.dialog--open .dialog-inner {
  width: 70%;
  height: 90%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}

.dialog__header,
.dialog__name {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.dialog__header {
  font-size: 1.5em;
  padding: 0.3em;
}

.dialog__name {
  font-size: 2.5em;
  padding: 0.5em;
  padding-bottom: 0.3em;
}

.dialog__img {
  display: block;
  flex-grow: 1;
  max-width: 600px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 30px;
  background-color: var(--card-text);
}

.dialog__text {
  padding: 1.5em 3.5em 2.5em;
  margin: 0;
  text-align: center;
  font-size: 1.6rem;
}

.dialog__close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 70px;
  height: 70px;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.dialog__close:hover {
  transform: scale(1.1);
}
