<div class="dialog dialog--open">
  <div class="dialog-inner">
    <button class="dialog__close">
      <img src="../../../assets/close.svg" alt="" />
    </button>
    <h2 class="dialog__header">End Of The Game</h2>
    <h3 class="dialog__name">Prince Spudrick the Wise</h3>
    <img class="dialog__img" src="../../../assets/monsters/1.svg" alt="" />
    <p class="dialog__text">
      Мудрый, спокойный и добрый правитель 100 домов. Если тебе нужен заботливый
      принц, который слушает и понимает, Spudrick — твой выбор. Его королевство
      славится лучшими картофельными пирогами на свете!
    </p>
  </div>
</div>
